html {
    background-color: #A44A3F;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-container {
    display: grid;
    grid-template:  ". . ."
                    ". . ."
                    ". . .";
    grid-gap: 10px;
}

.grid-element {
    width: 120px;
    height: 120px;

    background-color: #F19C79;

    font-size: 5rem;
    color: #F6F4D2;
    font-family:'Courier New', Courier, monospace;

    text-align: center;
    vertical-align: middle;
    line-height: 120px;

    transition: .3s;
}

.grid-element:hover {
    background-color: #F5BBA3;
}

.overlay {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-color: #00000060;
}

.popup {
    display: flex;

    background-color: #F19C79;
    color:  #F6F4D2;
    border: 2px solid #A44A3F;
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;
    white-space: pre-wrap;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;

    text-align: center;
}